h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.call-to-action {
  padding-top: 100px;
  padding-bottom: 100px;
}

.centered-container {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
  text-decoration: none;
}

.about {
  background-color: transparent;
}

.about.sec_even {
  background-color: #edf6e2;
}

.body {
  font-family: 'M PLUS 1p', sans-serif;
  text-decoration: none;
}

.text-block {
  margin-bottom: 60px;
  font-weight: 700;
  text-align: center;
}

.about_p {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: left;
}

.generation {
  background-color: #edf6e2;
}

.button {
  display: block;
  width: 280px;
  margin: 20px auto;
  padding-right: 20px;
  padding-left: 20px;
  border: 1px solid #51924b;
  background-color: #51924b;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.button:hover {
  border: 1px solid #000;
  border-radius: 0px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  white-space: normal;
}

.about-copy {
  background-color: transparent;
}

.about-copy.sec_even {
  background-color: #edf6e2;
}

.list-item {
  list-style-type: none;
}

.list {
  list-style-type: lower-roman;
}

.profile.sec_even {
  background-color: #edf6e2;
}

.text-block-2 {
  text-align: center;
}

.image {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.image-2 {
  width: 100%;
  height: auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.container {
  position: absolute;
  left: 0px;
  top: 0px;
}

.container.centered-container {
  position: relative;
}

.header {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
}

.heading {
  border: 1px none #000;
  color: #fff;
  font-size: 3vw;
  line-height: 100%;
  text-align: left;
  text-decoration: none;
}

.image-3 {
  display: block;
  width: 80vw;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-bottom: 40px;
}

.image-4 {
  display: block;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  text-align: center;
}

.copyright {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.heading-2 {
  text-align: center;
  text-decoration: none;
}

.image-5 {
  margin-right: auto;
}

.heading-3 {
  text-align: center;
}

@media screen and (max-width: 991px) {
  .about_p {
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .call-to-action {
    padding: 40px 20px;
  }

  .centered-container {
    padding: 10px 5vw 5vw;
  }

  .text-block {
    margin-bottom: 40px;
  }

  .heading {
    padding-left: 10px;
  }

  .heading-2 {
    font-size: 24px;
  }

  .heading-3 {
    font-size: 24px;
  }

  .heading-4 {
    font-size: 24px;
  }

  .heading-5 {
    font-size: 24px;
  }
}

@media screen and (max-width: 479px) {
  .centered-container {
    text-align: left;
  }

  .text-block {
    margin-bottom: 5vw;
  }

  .text-block-2 {
    font-size: 12px;
    line-height: 16px;
  }

  .heading {
    margin-top: 3vw;
    padding-left: 0px;
    font-size: 4vw;
  }

  .image-3 {
    width: 90vw;
    padding-bottom: 5vw;
  }

  .heading-2 {
    margin-bottom: 2vw;
    font-size: 18px;
    line-height: 24px;
  }

  .heading-3 {
    margin-bottom: 2vw;
    font-size: 18px;
  }

  .heading-4 {
    margin-bottom: 2vw;
    font-size: 18px;
  }

  .heading-5 {
    margin-bottom: 2vw;
    font-size: 18px;
  }
}

