h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.call-to-action {
  padding-top: 100px;
  padding-bottom: 100px;
}

.centered-container {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
  text-decoration: none;
}

.about {
  border: 0px solid #000;
  background-color: transparent;
}

.about.sec_even {
  background-color: #edf6e2;
}

.body {
  font-family: 'M PLUS 1p', sans-serif;
  text-decoration: none;
}

.text-block {
  margin-bottom: 60px;
  font-weight: 700;
  text-align: center;
}

.about_p {
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
}

.generation {
  background-color: #edf6e2;
}

.button {
  display: block;
  width: 300px;
  margin: 60px auto;
  padding-right: 20px;
  padding-left: 20px;
  border: 1px solid #51924b;
  background-color: #1e953d;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.button:hover {
  border: 1px solid #000;
  border-radius: 0px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  white-space: normal;
}

.about-copy {
  background-color: transparent;
}

.about-copy.sec_even {
  background-color: #e8f2df;
}

.summary {
  border-bottom: 1px solid #999;
}

.list-item {
  list-style-type: none;
}

.list {
  list-style-type: lower-roman;
}

.profile.sec_even {
  background-color: #e8f2df;
}

.text-block-2 {
  text-align: center;
}

.image {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.image-2 {
  width: 100%;
  height: auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.container {
  position: absolute;
  left: 0px;
  top: 0px;
}

.container.centered-container {
  position: relative;
}

.header {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
}

.heading {
  border: 1px none #000;
  color: #fff;
  font-size: 28px;
  line-height: 100%;
  text-align: left;
  text-decoration: none;
}

.image-3 {
  display: block;
  width: 80vw;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-bottom: 40px;
}

.image-4 {
  display: block;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  text-align: center;
}

.copyright {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.heading-2 {
  margin-bottom: 60px;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
}

.image-5 {
  margin-right: auto;
}

.heading-3 {
  margin-bottom: 60px;
  font-size: 24px;
  text-align: center;
}

.heading-4 {
  margin-bottom: 60px;
  font-size: 24px;
}

.heading-5 {
  margin-bottom: 60px;
  font-size: 24px;
}

.list_box {
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  list-style-type: none;
}

.text-block-3 {
  display: inline-block;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.text-block-4 {
  display: inline-block;
}

.list_title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 16px;
  line-height: 24px;
}

.list_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5em;
  border-bottom: 1px solid #999;
}

.list_text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 16px;
  line-height: 24px;
}

.list_box2 {
  width: 700px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.div-block {
  position: fixed;
  left: auto;
  top: auto;
  right: 5%;
  bottom: 5%;
  display: block;
  padding: 1em;
  border: 2px solid #6ab736;
  border-radius: 2em;
  background-color: #fff;
  color: #6ab736;
  text-align: center;
}

.text-block-5 {
  font-family: 'Fa solid 900', sans-serif;
  font-size: 24px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

@media screen and (max-width: 991px) {
  .about_p {
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .call-to-action {
    padding: 40px 20px;
  }

  .centered-container {
    padding: 10px 5vw 5vw;
  }

  .text-block {
    margin-bottom: 40px;
  }

  .heading {
    padding-left: 10px;
    font-size: 21px;
  }

  .heading-2 {
    font-size: 24px;
  }

  .heading-3 {
    font-size: 24px;
  }

  .heading-4 {
    font-size: 24px;
  }

  .heading-5 {
    font-size: 24px;
  }

  .list_box {
    width: 90vw;
  }

  .list_box2 {
    width: 90vw;
  }
}

@media screen and (max-width: 479px) {
  .centered-container {
    text-align: left;
  }

  .text-block {
    margin-bottom: 5vw;
  }

  .button {
    -webkit-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
  }

  .text-block-2 {
    font-size: 12px;
    line-height: 16px;
  }

  .heading {
    margin-top: 3vw;
    padding-left: 0px;
    font-size: 4vw;
  }

  .image-3 {
    width: 90vw;
    padding-bottom: 5vw;
  }

  .heading-2 {
    margin-bottom: 2vw;
    font-size: 18px;
    line-height: 24px;
  }

  .heading-3 {
    margin-bottom: 2vw;
    font-size: 18px;
  }

  .heading-4 {
    margin-bottom: 2vw;
    font-size: 18px;
  }

  .heading-5 {
    margin-bottom: 2vw;
    font-size: 18px;
  }

  .image-6 {
    width: 20vw;
  }

  .div-block {
    padding: 0.5em;
  }

  .text-block-5 {
    font-size: 18px;
    line-height: 16px;
  }
}

@font-face {
  font-family: 'Fa solid 900';
  src: url('../fonts/fa-solid-900.woff2') format('woff2'), url('../fonts/fa-solid-900.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}